<div class="text-center">
    <h1 class="display-4"> Salary Calculator</h1>
    <small>Created by <a href="https://www.linkedin.com/in/bernardo-corengia-94832a4b/" target="_blank">Bernardo Corengia</a></small>
</div>